.carousel-caption{
    padding-top: 0;
    padding-bottom: 0;
    text-align:start;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
}
.carousel-item{
    height: 100vh;
}
.carousel-item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}
.tituloCarousel{
    font-size: 50px;
    font-weight:bold;
    text-align: center;
    padding: 3% 5%;
    background: rgba(42, 49, 48, 0.8);
    text-shadow: black 0.1em 0.1em 0.2em;
}

/* SECCION SERVICIOS */
.cajaPadreServicios{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 1080px;
    margin: 0 auto 50px auto;
}
.servicio{
    display: flex;
    margin: 20px;
    width: 300px;
}
.iconoServicio{
    padding-right: 20px;
    padding-top: 5px;
    font-size: 48px;
    color: #00ADEE;
}
.tituloServicio{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 14px;
    font-weight: bold;
    color: white;
}
.descripcionServicio{
    font-size: 14px;
    margin-top: 15px;
    font-family: "Poppins";
    color: white;
    font-weight: 300;
}

/* SECCION BANNER DE MEDIO AMBIENTE */
.medioAmbienteIndex{
    overflow: hidden;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.maIndex{
    position: absolute;
    display: flex;
    width: 850px;
    color: white;
    font-family: "Poppins";
    backdrop-filter: blur(9px);
    background-color: #0000006b;
    border-radius: 12px;
    font-size: 16px;
}
.columnaMaIndexIzquierda{
    width:50%;
    border-right: white solid 1px;
    padding: 40px;    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.columnaMaIndex{
    width: 50%;
    padding: 40px;    
}
.columnaMaIndex p{
    display: flex;
    align-items: center;
    margin-bottom: 30px
}
.columnaMaIndex ion-icon{
    font-size: 35px;
    margin-right: 12px;
}

/* SECCION TECNICA */
.tecnicaIndex{
    width: 50%;
    color: white;
    font-family: "Poppins";
    background: rgba(42, 49, 48, 0.8);
    border-radius: 12px;
    margin: 100px auto;
    padding: 55px;
    font-size: 18px;
    text-align: center;
}

/* SECCION BANNER GRANULADO */
.bannerGranulado{
    overflow: hidden;
    height: 650px;
    display: flex;
    align-items: center;
    margin: 150px auto 0 auto;
}
.bannerGranulado img{
    height:80vh;
    width: 100%;
    object-fit: cover;
}

/* SECCION ETAPAS */
.etapasPadre{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.etapa{
    position: relative;
    width: 200px;
    height:250px;
    color: white;
    font-size:15px;
    font-family: "Poppins";
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin: 20px;
  }
  .etapa div{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    backface-visibility: hidden;
    transition: .5s ease-in-out;
    background-color: black;
  }
  .etapa .front{
    background-color: black;
    transform: perspective(500px) rotateY(0deg);
    border: white solid 1px;
    display: flex;
    flex-direction: column;
  }
  /* en la propiedad Transform si quiero modificar el giro (vertircal, horizontal, izq a der, der a izq tengo que modificar rotateY a rotateX y los grados + a - */
  .etapa .back{
    background-color: black;
    transform: perspective(500px) rotateY(180deg); 
    border: white solid 1px;
  }
  .etapa:hover .front{
    transform: perspective(500px) rotateY(180deg);
  }
  .etapa:hover .back{
    transform: perspective(500px) rotateY(360deg);
  }
  ion-icon{
    font-size: 50px;
  }
  .etapa i{
    font-size: 30px;
  }
.cajaPadreExperiencia{
    margin: 80px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    font-family: "Poppins", sans-serif;
}
.cajaTrofeo{
    background:black;
    border-radius: 5px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 600px
}
.cajaTrofeo i{
    font-size:180px
}
.numeroAños{
    font-size: 80px;
    font-weight: bold;
}
.textoAños{
    font-size: 40px;
    font-weight: bold;
}
.cajaSomosDistintos{
    width: 600px;
    margin-right: 50px;
}
.subtituloDistintos{
    color:white;
    font-weight: bold;
}
.tituloDistintos{
    color:white;
    font-size: 35px;
    font-weight: bold;
}
.textoDistintos{
    margin: 10px 0 20px 0;
    color: white;
}
.contador{
    font-size: 30px;
    font-weight: bold;
    color: #5d7d3c
}
.tituloContador{
    font-weight: bold;
    font-size: 18px;
    color: white;
}
.subtituloTestimonios{
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    margin-top: 50px;
}
.carrouselTestimonios{
    object-fit: cover;
    width: 1100px;
    margin: 0 auto;
}
.testimonio{
    text-align: center;
    position: relative;
    padding-top: 0;
}
.cajaTextoTextimonio{
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
    background-color: black;
}
.cajaTextoTextimonio img{
    height: 250px;
}
.cajaTextoTextimonio div{
    margin: 10px auto;
    color: white;
}
.testimonial-carousel .owl-item.center .cajaTextoTextimonio {
    box-shadow: 0 0 30px #CCCCCC;
  }
.testimonial-carousel .owl-dots {
    margin-top: 25px;
    text-align: center;
}
.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    background: #343a40;
    transition: .5s;
}
.testimonial-carousel .owl-dot.active {  /* boton de navegacion activo */
    width: 40px;
    background: white !important;;
}
.testimonial-carousel .owl-item.center .testimonial-text {
    box-shadow: 0 0 30px #CCCCCC;
}
@media(max-width:1100px){
    .cajaPadreServicios{
        width:80%
    }
    .cajaPadreExperiencia{
        flex-direction: column;
    }
    .cajaSomosDistintos{
        width: 90%;
        margin: 0 auto 30px auto;
    }
    .cajaTrofeo{
        width: 90%;
    }
    .carrouselTestimonios{
        width: 80%;
    }
}

@media(max-width:900px){
    .tituloCarousel{
        font-size: 30px;
    }
    .maIndex{
        flex-direction: column;
        align-items: center;
        width: 85%;
    }
    .columnaMaIndexIzquierda{
        border-right: none;
        width: 450px;
        padding: 20px;
    }
    .columnaMaIndex{
        width: 450px;
        padding: 20px
    }
    .tecnicaIndex{
        width: 80%;
        padding: 20px;
    }
    .etapa {
        position: relative;
        width: 150px;
        height: 200px;
        color: white;
        font-size: 14px;
        font-family: "Poppins";
        font-weight: bold;
        border: none;
        cursor: pointer;
        margin: 10px;
    }
}
@media(max-width:450px){
    .maIndex, .columnaMaIndexIzquierda, .columnaMaIndex{
        width: 100%;
    }
    .cajaPadreExperiencia {
        margin: 50px auto;
        width: 100%;
    }
    .cajaTrofeo{
        height: 400px;
    }
    .cajaTrofeo i{
        font-size: 135px;
    }
    .numeroAños{
        font-size: 65px;
    }
    .textoAños{
        font-size: 30px;
    }
    h2{
        font-size: 30px;
    }
    .somosIndex{
        font-size: 30px;
    }
    .comercializadoraIndex{
        font-size: 22px;
    }
    .tituloDistintos{
        font-size: 30px;
    }
    .carrouselTestimonios{
        margin-left: 15px;
        margin-right:15px;
        width: 95%;
    }
}