.bannerNosotros{
    height: 80vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bannerNosotros marquee{
    height: 200px;
}
.imagenLogoNosotros{
    width:550px;
    height: 580px;
    text-align: center;
}
.padreNosotros{
    color: white;
    font-family: "Poppins";
    font-size: 17px;
    padding: 50px 100px;
}
.tituloValores{
    font-weight: bold;
    font-size:19px;
    color: #00ADEE;
}
.padreServicios{
    display: flex;
    flex-direction: column;
    font-family: "Poppins";
    color: white;
    width: 80%;
    margin: 0 auto;
}
.servicioNosotros{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    align-items: center;
}
.imagenServicio{
    width: 350px;
}
.imagenServicio img{
    width: 350px;
}
.textoServicio{
    width: 100%;
    padding: 20px;
    font-size: 17px;
}
.cajaPadreVideos{
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}
.videoNosotros{
    margin: 20px;
    height: auto;
    width: 100%;
    max-width: 600px;
}
.videoNosotros video{
    width: 100%;
}
@media(max-width: 850px){
    .servicioNosotros{
        flex-direction: column;
    }
    .imagenServicio{
        height: auto;
        width: 100%;
    }
    .imagenServicio img{
        width: 100%;
    }
    .cajaPadreVideos{
        flex-direction: column;
    }
}
@media(max-width: 600px){
    .padreNosotros{
        padding: 20px;
        text-align: justify;
    }
    .padreServicios{
        width: 90%;
    }
    .textoServicio{
        padding: 0px;
    }
    .cajaPadreVideos{
        padding: 20px;
    }
}