:root{
    --color-primario: #5d7d3c;
    --color-secundario: #0ea0dc; /* Logo */
    --color-terciario:  #cfdd82; /* Logo */
    --color-cuarto:  #66cdaa;
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    color: var(--color-primario);
}
h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif!important;
    letter-spacing: 1px;
    font-size: 45px;
    margin-top: 3%;
}
h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 20px;
    color: #878787;
}